{%- extends config.BASE_TEMPLATE %}

{% macro errors(field) %}
  {% if field.errors %}
  <span class="help-block">
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </span>
{% endmacro %}

{% block page_body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Create record</h2>
      </div>
      <div class="col-md-offset-3 col-md-6 well">
        <form action="{{ url_for('deposit.create') }}" method="POST">
            <div class="form-group {{ 'has-error' if form.title.errors }}">
              <label for="title">{{ form.title.label }}</label>
              {{ form.title(class_="form-control")|safe }}
              {{ errors(form.title) }}
            </div>
            <div class="form-group {{ 'has-error' if form.resource_type.errors }}">
              <label for="resource_type">{{ form.resource_type.label }}</label>
              {{ form.resource_type(class_="form-control")|safe }}
              {{ errors(form.resource_type) }}
            </div>
            <div class="form-group {{ 'has-error' if form.docset.errors }}">
              <label for="docset">{{ form.docset.label }}</label>
              {{ form.docset(class_="form-control")|safe }}
              {{ errors(form.docset) }}
            </div>
            <div class="form-group {{ 'has-error' if form.publications.errors }}">
              <label for="publications">{{ form.publications.label }}</label>
              {{ form.publications(class_="form-control")|safe }}
              {{ errors(form.publications) }}
            </div>
            <div class="form-group {{ 'has-error' if form.datasets.errors }}">
              <label for="datasets">{{ form.datasets.label }}</label>
              {{ form.datasets(class_="form-control")|safe }}
              {{ errors(form.datasets) }}
            </div>
            <div class="form-group {{ 'has-error' if form.tools.errors }}">
              <label for="tools">{{ form.tools.label }}</label>
              {{ form.tools(class_="form-control")|safe }}
              {{ errors(form.tools) }}
            </div>
            <div class="form-group {{ 'has-error' if form.outputs.errors }}">
              <label for="outputs">{{ form.outputs.label }}</label>
              {{ form.outputs(class_="form-control")|safe }}
              {{ errors(form.outputs) }}
            </div>
            <div class="form-group {{ 'has-error' if form.virtenvs.errors }}">
              <label for="virtenvs">{{ form.virtenvs.label }}</label>
              {{ form.virtenvs(class_="form-control")|safe }}
              {{ errors(form.virtenvs) }}
            </div>
            {{ form.csrf_token }}
            {{ errors(form.csrf_token) }}
            <button type="submit" class="btn btn-default">Create</button>
        </form>
      </div>
    </div>
  </div>
{% endblock page_body %}
