
<style>
</style>
{%- extends config.BASE_TEMPLATE %}

{%- block css %}
  <!-- Inherit parent CSS -->
  {{ super() }}

  {{ webpack['css_deposit.css'] }}
{%- endblock %}

{%- block javascript %}
  <!-- Inherit parent js -->
  {{ super() }}

  <!-- Geo Knowledge Hub Deposit JS -->
  {{ webpack['js_deposit.js'] }}

{%- endblock javascript %}

{% macro errors(field) %}
  {% if field.errors %}
  <span class="help-block">
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </span>
{% endmacro %}

{% block page_body %}

  <div class="container" ng-app="knowledge_hub.directives">
    <div class="row">

      <form action="{{ url_for('deposit.create') }}"
            method="POST"
            data-bucket-id=""
            enctype="multipart/form-data"
            list-item="{minItems: 1}">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <ul class="nav">
            <li><a href="#"
                   ng-click="$ctrl.addItem('publication')"
                   data-toggle="tooltip" title="Add a new publication"><i class="fa fa-book"></i> Publication</a>
            </li>
            <li><a href="#"
                   data-toggle="tooltip" title="Add a new DataSet"
                   ng-click="$ctrl.addItem('dataset')"><i class="fa fa-object-group"></i> DataSet</a>
            </li>
            <li><a href="#"
                   data-toggle="tooltip" title="Add a new Tool"
                   ng-click="$ctrl.addItem('tool')"><i class="fa fa-code-fork"></i> Tool </a>
            </li>
            <li>
              <a href="#"
                 data-toogle="tooltip" title="Add a new Output"
                 ng-click="$ctrl.addItem('output')">
                <i class="fa fa-briefcase" aria-hidden="true"></i> Output
              </a>
            </li>
            <li><a href="#"
                   data-toggle="tooltip" title="Add a new Virtualenv"
                   ng-click="$ctrl.addItem('virtualenv')"><i class="fa fa-desktop"></i> Virtualenv </a>
            </li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-9">
          <h4 class=""><i class="icon-plus-sign-alt"></i> Create record </h4>

          <hr />

          <div class="form-group ">
              <label for="title">Title</label>
              <input class="form-control" id="title" name="title" required="" type="text" value="">
          </div>

          <div class="form-group">
            <label class="control-label " for="description">Description:</label>
            <textarea placeholder="" class="form-control" id="description" ng-model="$ctrl.item.output_abstract" name="description"></textarea>
          </div>

          <div id="resource_type" class="form-group {{ 'has-error' if form.resource_type.errors }}">
            <label for="resource_type">{{ form.resource_type.label }}</label>
            {{ form.resource_type(class_="form-control")|safe }}
            {{ errors(form.resource_type) }}
          </div>

          {% raw %}
          <div ng-repeat="item in $ctrl.items track by $index">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a data-toggle="collapse" href="#panel-record-{{ item.id }}" style="text-transform: capitalize;
"> <span ng-bind="item._type + ' ' + item.id"></span> </a>
                  <button style="position: relative; z-index: 20;" type="button"
                          class="close pull-right"
                          ng-click="$ctrl.removeItem($index)">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                  </button>
                </h3>
              </div>
              <div class="panel-body collapse in" id="panel-record-{{ item.id }}" aria-expanded="true">

                <publication ng-if="item._type === 'publication'" item="item"></publication>
                <dataset ng-if="item._type === 'dataset'" item="item"></dataset>
                <tool ng-if="item._type === 'tool'" item="item"></tool>
                <output ng-if="item._type === 'output'" item="item"></output>

              </div>
            </div>
          </div>
          {% endraw %}

          {{ form.csrf_token }}
          {{ form.bucket }}

          <button type="submit" class="btn btn-primary pull-right">Save</button>
        </div>

      </form>
    </div>
  </div>

{% endblock page_body %}
