
<style>
.container {
overflow: auto;
}
.form-group {
position: relative;
border: 1px solid black;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightgrey;
  overflow:auto;
}
</style>
{%- extends config.BASE_TEMPLATE %}

{%- block javascript %}
  <!-- Inherit parent js -->
  {{ super() }}

  <!-- Geo Knowledge Hub Deposit JS -->
  {{ webpack['js_deposit.js'] }}

{%- endblock javascript %}

{% macro errors(field) %}
  {% if field.errors %}
  <span class="help-block">
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </span>
{% endmacro %}

{% block page_body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Create record</h2>
      </div>
      <div  id="form" style="height: auto;">

        <form action="{{ url_for('deposit.create') }}" method="POST" data-bucket-id="" enctype="multipart/form-data">
          <div class="form-group">
            <div class="well">
              <div class="row">
                <div class="col-md-12">
                  <label for="document">Choose files to document</label>
                  <div class="input-group">
                    <input class="form-control" id="document" name="document[]" multiple type="file">
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{ form.bucket }}

          <div id="title" class="form-group {{ 'has-error' if form.title.errors }}">
            <label for="title">{{ form.title.label }}</label>
            {{ form.title(class_="form-control")|safe }}
            {{ errors(form.title) }}
            </div>
            <div id="resource_type" class="form-group {{ 'has-error' if form.resource_type.errors }}">
              <label for="resource_type">{{ form.resource_type.label }}</label>
              {{ form.resource_type(class_="form-control")|safe }}
              {{ errors(form.resource_type) }}
            </div>
            <div id="docset" style="height: 250px;" class="form-group {{ 'has-error' if form.docset.errors }}">
              <label for="docset">{{ form.docset.label }}</label>
              {{ form.docset(class_="form-control")|safe }}
              {{ errors(form.docset) }}
            </div>
            <div id="publications" style="height: 920px;" class="form-group {{ 'has-error' if form.publications.errors }}">
              <label for="publications">{{ form.publications.label }}</label>
              {{ form.publications(class_="form-control")|safe }}
              {{ errors(form.publications) }}
            </div>
            <div id="datasets"  style="height: 560px;"class="form-group {{ 'has-error' if form.datasets.errors }}">
              <label for="datasets">{{ form.datasets.label }}</label>
              {{ form.datasets(class_="form-control")|safe }}
              {{ errors(form.datasets) }}
            </div>
            <div id="tools" style="height: 240px;" class="form-group {{ 'has-error' if form.tools.errors }}">
              <label for="tools" >{{ form.tools.label }} </label>
              {{ form.tools(class_="form-control")|safe }}
              {{ errors(form.tools) }}
            </div>
            <div id="outputs"  style="height: 240px;" class="form-group {{ 'has-error' if form.outputs.errors }}">
              <label for="outputs">{{ form.outputs.label }}</label>
              {{ form.outputs(class_="form-control")|safe }}
              {{ errors(form.outputs) }}
            </div>
            <div id="virtenvs"style="height: 105px;" class="form-group {{ 'has-error' if form.virtenvs.errors }}">
              <label for="virtenvs">{{ form.virtenvs.label }}</label>
              {{ form.virtenvs(class_="form-control")|safe }}
              {{ errors(form.virtenvs) }}
            </div>
            {{ form.csrf_token }}
            {{ errors(form.csrf_token) }}
            <button type="submit" class="btn btn-default">Create</button>
        </form>
      </div>
    </div>
  </div>
{% endblock page_body %}
